.header {
  background: no-repeat center/40% url("../Images/Background.png");
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 50vw;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  padding-top: 50px;
  width: 50vw;
}
.homeBtnsBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.homebtn {
  align-items: center;
  background-color: #f9a332;
  border-radius: 23px;
  border: solid 3px black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  margin: 50px;
  min-width: 200px;
  padding: 20px;
  text-decoration: none;
  width: 12%;
}

@media only screen and (max-width: 768px) {
  .header {
    background: no-repeat center/50% url("../Images/BackgroundMobile.png");
    height: 20vh;
    padding-top: 5px;
    width: 100vw;
  }

  .main {
    height: 80vh;
    padding-top: 0px;
    width: 100vw;
  }
}
