.App {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgb(236, 212, 84);
  background: radial-gradient(
    circle,
    rgba(236, 212, 84, 0.7483368347338936) 0%,
    rgba(251, 198, 0, 1) 100%
  );
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}
